[Unit]

Description=Geth Full Node
#Wants=syslog.service
Requires=network-online.target
After=network-online.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu

#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=geth

ExecStart=/usr/bin/geth \
     --datadir /mnt/ebs/ethereum \
     --syncmode snap \
     --maxpeers 15 \
     --light.maxpeers 0 \
     --identity "example.com" \
     --http \
     --http.addr "localhost" \
     --http.port "8545" \
     --http.api eth,net,web3,txpool \
     --cache 2048

TimeoutStopSec=300

Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target